<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6." />
  </startup>
  <appSettings>
    <add key="encryptFiles" value="false" />
    <add key="includeOriginalLineInOutput" value="false" />
    <add key="includeTrafficMacAddresses" value="false" />
    <add key="emailNotificationAddresses" value="wenty-anglican-wardens@ligos.net" />
    <add key="PathToGpg" value="C:\Program Files (x86)\GNU\GnuPG\gpg2.exe" />
    <add key="PathToTar" value="tar.exe" />
    <add key="GpgIdentityToEncryptTo" value="C968A71B1D2FD6FD83F8FC9F2FFC7888CD2A99F9" />
    <add key="GpgCommand" value="-e" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@makemeapassword.org">
        <network host="192.168.25.20" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>